---
import { PWA } from "webapp-astro-pwa";
import Navbar from "@/components/navbar.svelte";
import { ClientRouter } from 'astro:transitions';

import './global.css'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
    
		<title>TALLER</title>
		<ClientRouter />
		<PWA />
	</head>
	<body>
	<Navbar client:idle />
	<slot/>
	</body>
</html>


<style>
	body {
		background-color: #f0f0f0;
		margin: 0;
		padding: 0;
	}
</style>